{% set title = "all pages" %} {% extends "main.tpl" %} {% block content %}

<div class="container">
  <ul class="all-pages">
    <li><a href="/">index page</a></li>
    <li><a href="addInfo.html">addInfo page</a></li>
    <li><a href="addMarket.html">addMarket page</a></li>
    <li><a href="diller-signup.html">diller-signup page</a></li>
    <li><a href="forgot.html">forgot page</a></li>
    <li><a href="login.page">login page</a></li>
    <li><a href="market-signup.html"></a></li>
    <li><a href="market.html">market page`</a></li>
    <li><a href="marketDebt.html">marketDebt page</a></li>
    <li><a href="marketInfo.html">marketInfo page</a></li>
    <li><a href="newPassword.html">newPassword page</a></li>
    <li><a href="productInfo.html">productInfo page</a></li>
    <li><a href="productOrder.html">productOrder page</a></li>
    <li><a href="productsTab.html">productsTab page</a></li>
    <li><a href="profile.html">profile page</a></li>
    <li><a href="sendPassword.html">sendPassword page</a></li>
    <li><a href="statistic.html">statistic page</a></li>
    <li><a href="today.html">today html</a></li>
    <li><a href="writePassword.html">writePassword page</a></li>
  </ul>
</div>
{%include "components/header.html" %} {% include "components/footer.html" %} {%
endblock %}
