{% set title = "forgot" %}

{% extends "main.tpl" %}

{% block content %}

<!-- {% include "components/header.html" %} -->

<main class="login">
  <div class="container">
    <div class="prev-page">
      <div class="prev-market">
        <a class="" href="#!"><img src="./images/svg/left-white.svg" alt="icon"></a>
        <div class="market-name">Parolni tiklash</div>
      </div>

    </div>
    <div class="signup-wrap">
      <div class="forgot-title">Siz taqdim etgan telefon raqamga 4 xonali kod yuboriladi</div>
      <form action="#!" class="forgot-form">
        <div class="input-wrap">
          <label for="username">
            <img src="./images/svg/input-tel.svg" alt="icon">
            <input type="tel" name="username" placeholder="Telefon raqam"></label>
        </div>

        <button class="login-btn">yuborish</button>
      </form>
    </div>
  </div>
</main>

<!-- {% include "components/footer.html" %} -->
{% endblock %}