{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main class="main">
  <div class="container">
    <a href="market.html" class="market-item">
      <div class="market-client">
        <div class="market-logo"><img src="./images/png/Makro.png" alt="icon"></div>
        <div>
          <div class="market-name">makrosupermarket</div>
          <div class="market-price">
            <span class="market-back"><img src="./images/svg/back.svg" alt="icon"></span>
            <div class="market-sum"><span>600 000</span><span> so'm</span></div>
          </div>
        </div>
      </div>
      <div class="market-pin"><img src="./images/svg/pinned.svg" alt="icon"></div>
    </a>
    <a href="market.html" class="market-item">
      <div class="market-client">
        <div class="market-logo"><img src="./images/png/korzinka.png" alt="icon"></div>
        <div>
          <div class="market-name">korzinkauz</div>
          <div class="market-price">
            <span class="market-back"><img src="./images/svg/back.svg" alt="icon"></span>
            <div class="market-sum"><span>0</span><span> so'm</span></div>
          </div>
        </div>
      </div>
      <div class="market-pin"><img src="./images/svg/pinned.svg" alt="icon"></div>
    </a>
    <a href="market.html" class="market-item">
      <div class="market-client">
        <div class="market-logo"><img src="./images/png/RED_TAG.png" alt="icon"></div>
        <div>
          <div class="market-name">redtag</div>
          <div class="market-price">
            <span class="market-back"><img src="./images/svg/back.svg" alt="icon"></span>
            <div class="market-sum"><span>100 000</span><span> so'm</span></div>
          </div>
        </div>
      </div>
      <div class="market-pin"><img src="./images/svg/pinned.svg" alt="icon"></div>
    </a>
    <a href="market.html" class="market-item">
      <div class="market-client">
        <div class="market-logo"><img src="./images/png/riviera.png" alt="icon"></div>
        <div>
          <div class="market-name">riviera</div>
          <div class="market-price">
            <span class="market-back"><img src="./images/svg/back.svg" alt="icon"></span>
            <div class="market-sum"><span>899 900</span><span> so'm</span></div>
          </div>
        </div>
      </div>
      <div class="market-pin"><img src="./images/svg/pinned.svg" alt="icon"></div>
    </a>
    <a href="market.html" class="market-item">
      <div class="market-client">
        <div class="market-logo"><img src="./images/png/carefour.png" alt="icon"></div>
        <div>
          <div class="market-name">carrefour</div>
          <div class="market-price">
            <span class="market-back"><img src="./images/svg/back.svg" alt="icon"></span>
            <div class="market-sum"><span>65 000</span><span> so'm</span></div>
          </div>
        </div>
      </div>
      <div class="market-pin"><img src="./images/svg/pinned.svg" alt="icon"></div>
    </a>
    <div class="empty-item">
      <div class="empty-logo"></div>
      <div>
        <div class="empty-name"></div>
        <div class="empty-price"></div>
      </div>
    </div>
    <div class="empty-item">
      <div class="empty-logo"></div>
      <div>
        <div class="empty-name"></div>
        <div class="empty-price"></div>
      </div>
    </div>
    <div class="empty-item">
      <div class="empty-logo"></div>
      <div>
        <div class="empty-name"></div>
        <div class="empty-price"></div>
      </div>
    </div>
    <div class="empty-item">
      <div class="empty-logo"></div>
      <div>
        <div class="empty-name"></div>
        <div class="empty-price"></div>
      </div>
    </div>
    <div class="empty-item">
      <div class="empty-logo"></div>
      <div>
        <div class="empty-name"></div>
        <div class="empty-price"></div>
      </div>
    </div>
  </div>
  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}