{% set title = "market" %}

{% extends "main.tpl" %}

{% block content %}

<!-- {% include "components/header.html" %} -->

<main class="main">
  <div class="header">
    <div class="container">
      <div class="prev-page">
        <div class="prev-market">
          <a class="" href="#!"><img src="./images/svg/left-prev.svg" alt="icon"></a>
          <div class="market-name">makrosupermarket</div>
        </div>
        <a href="#!">
          <img src="./images/svg/add.svg" alt="icon">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="logo-market">
      <img src="./images/png/Makro.png" alt="icon">
    </div>
    <div class="market-title">Makro Savdo</div>
    <div class="market-contact">
      <a class="market-call" href="#!">
        <img src="./images/svg/phone.svg" alt="icon">
        <span>Qo'ng'iroq</span>
      </a>
      <a class="market-location" href="#!">
        <img src="./images/svg/location.svg" alt="icon">
        <span>manzil</span>
      </a>
    </div>
  </div>
  <section class="border-dashed">
    <div class="container">
      <div class="market-debt">
        <div class="debt-market">Qarzdorlik:</div>
        <div class="debt-sum">652 000 so'm</div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="debt-info">
      <div class="debt-client">
        <img src="./images/svg/give-take.svg" alt="icon">
        <span>Oldi berdilar</span>
      </div>
      <div class="info-debt"><span>12</span> <img src="./images/svg/next-black.svg" alt="icon"> </div>
    </div>
    <div class="debt-check2">
      <div class="debt-date">
        <div class="debt-data">
          <img src="./images/svg/clock.svg" alt="icon">
          <span>08.06.2021</span>
        </div>
        <div class="debt-text"><span>17:58</span> </div>
      </div>
      <div class="debt-info-sum">
        <div class="debt-el"><img src="./images/svg/up-red.svg" alt="icon"> <span class="debt-text">berdi:</span></div>
        <div class="debt-give"><span>600 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-info-sum debt-info-sum2">
        <div class="debt-el"><img src="./images/svg/down-blue.svg" alt="icon"> <span class="debt-text">oldi:</span>
        </div>
        <div class="debt-give"><span>545 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-product">
        <div class="debt-text">Maxsulot turi:</div>
        <div class="debt-text-black">Tuxum</div>
      </div>
      <div class="hidden-content">
        <div class="debt-product debt-product2">
          <div class="debt-text">Diller ismi:</div>
          <div class="debt-text-black">Falonchi</div>
        </div>
        <div class="debt-commet">
          <div class="debt-text">Izoh:</div>
          <div class="debt-text">Bu yerga shu oldi berdiga ta'luqli muhim izohlar yoziladi maximum 3 qator</div>
        </div>
        <div class="sum-debt"> <span>55 000 </span><span>so'm</span></div>
      </div>

    </div>
    <div class="debt-check2">
      <div class="debt-date">
        <div class="debt-data">
          <img src="./images/svg/clock.svg" alt="icon">
          <span>08.06.2021</span>
        </div>
        <div class="debt-text"><span>17:58</span> </div>
      </div>
      <div class="debt-info-sum">
        <div class="debt-el"><img src="./images/svg/up-red.svg" alt="icon"> <span class="debt-text">berdi:</span></div>
        <div class="debt-give"><span>600 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-info-sum debt-info-sum2">
        <div class="debt-el"><img src="./images/svg/down-blue.svg" alt="icon"> <span class="debt-text">oldi:</span>
        </div>
        <div class="debt-give"><span>545 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-product">
        <div class="debt-text">Maxsulot turi:</div>
        <div class="debt-text-black">Tuxum</div>
      </div>
      <div class="hidden-content">
        <div class="debt-product debt-product2">
          <div class="debt-text">Diller ismi:</div>
          <div class="debt-text-black">Falonchi</div>
        </div>
        <div class="debt-commet">
          <div class="debt-text">Izoh:</div>
          <div class="debt-text">Bu yerga shu oldi berdiga ta'luqli muhim izohlar yoziladi maximum 3 qator</div>
        </div>
        <div class="sum-debt"> <span>55 000 </span><span>so'm</span></div>
      </div>

    </div>
    <div class="debt-check2">
      <div class="debt-date">
        <div class="debt-data">
          <img src="./images/svg/clock.svg" alt="icon">
          <span>08.06.2021</span>
        </div>
        <div class="debt-text"><span>17:58</span> </div>
      </div>
      <div class="debt-info-sum">
        <div class="debt-el"><img src="./images/svg/up-red.svg" alt="icon"> <span class="debt-text">berdi:</span></div>
        <div class="debt-give"><span>600 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-info-sum debt-info-sum2">
        <div class="debt-el"><img src="./images/svg/down-blue.svg" alt="icon"> <span class="debt-text">oldi:</span>
        </div>
        <div class="debt-give"><span>545 000</span><span> so'm</span> </div>
      </div>
      <div class="debt-product">
        <div class="debt-text">Maxsulot turi:</div>
        <div class="debt-text-black">Tuxum</div>
      </div>
      <div class="hidden-content">
        <div class="debt-product debt-product2">
          <div class="debt-text">Diller ismi:</div>
          <div class="debt-text-black">Falonchi</div>
        </div>
        <div class="debt-commet">
          <div class="debt-text">Izoh:</div>
          <div class="debt-text">Bu yerga shu oldi berdiga ta'luqli muhim izohlar yoziladi maximum 3 qator</div>
        </div>
        <div class="sum-debt"> <span>55 000 </span><span>so'm</span></div>
      </div>

    </div>
  </div>
</main>




{% include "components/footer.html" %}
{% endblock %}