{% set title = "new-password" %}

{% extends "main.tpl" %}

{% block content %}

<!-- {% include "components/header.html" %} -->

<main class="login">
  <div class="container">
    <div class="prev-page">
      <div class="prev-market">
        <a class="" href="#!"><img src="./images/svg/left-white.svg" alt="icon"></a>
        <div class="market-name">Parolni tiklash</div>
      </div>

    </div>
    <div class="signup-wrap">
      <div class="forgot-title">Dasturga kirish uchun yangi kod <br> yarating</div>
      <form action="#!" class="forgot-form">
        <div>
          <div class="input-wrap">
            <label for="username">
              <img src="./images/svg/security-input.svg" alt="icon">
              <input type="tel" name="username" placeholder="Yangi kod"></label>
          </div>
          <div class="input-wrap wrap-input type" id="">
            <label for="parol">
              <img src="./images/svg/security-input.svg" alt="icon">
              <input id="passwordInput" type="password" name="parol" placeholder="Parolni tasdiqlang">
            </label>
            <span class="visible lineEye">
              <img src="./images/svg/invisible-eye.svg" alt="icon">
            </span>

          </div>
        </div>

        <button class="login-btn">yuborish</button>
      </form>
    </div>
  </div>
</main>

<!-- {% include "components/footer.html" %} -->
{% endblock %}