{% set title = "writePassword" %}

{% extends "main.tpl" %}

{% block content %}

<!-- {% include "components/header.html" %} -->

<main class="login">
  <div class="container">
    <div class="prev-page">
      <div class="prev-market">
        <a class="" href="#!"><img src="./images/svg/left-white.svg" alt="icon"></a>
        <div class="market-name">Parolni tiklash</div>
      </div>

    </div>
    <div class="writePassword">
      <div class="writePassword-inner" >
        <div class="writePassword-title">Telefoningizga jo'natilgan parolni kiriting</div>
        <div class="writePassword-input-wrap">
          <input type="text" placeholder="-" maxlength="1">
          <input type="text" placeholder="-" maxlength="1">
          <input type="text" placeholder="-" maxlength="1">
          <input type="text" placeholder="-" maxlength="1">
        </div>
        <div class="writePassword-timer">
          <div><img src="./images/svg/clockW.svg" alt=":("> <span class="timer-load">0:32</span> </div>
          <div><button>qayta jo'natish</button></div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- {% include "components/footer.html" %} --  >
{% endblock %}