$fontBlack: #191923;
$fontWhite: #ffffff;
$fontRed: #c70505;
$fontBlue: #003791;
$bgLight: #f8f8ff;
$fontFamily: "Cera Pro";

.container {
  max-width: 768px;
  width: 100%;
  padding: 0 16px;
}
.p-b-110 {
  padding-bottom: 110px;
}
