<footer class="footer">
  <div class="container">
    <nav>
      <ul class="footer-menu">
        <li class="active footer-menu-item"><a href="#!"><img src="./images/svg/markets.svg" alt="icon"></a>
        </li>
        <li class="footer-menu-item"><a href="#!"><img src="./images/svg/statistics.svg" alt="icon"></a>
        </li>
        <li class="footer-menu-item"><a href="#!"><img src="./images/svg/group.svg" alt="icon"></a></li>
        <li class="footer-menu-item"><a href="#!"><img src="./images/svg/prodile.svg" alt="icon"></a></li>
      </ul>
    </nav>
  </div>
</footer>