.btn-wrap {
  cursor: pointer;
}
.sendPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  text-align: center;
  @media (min-width: 768px) {
    height: auto;
  }
  @media (max-width: 350px) {
    height: auto;
  }
}
.again-btn {
  background-color: transparent;
  font-family: $fontFamily;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $fontWhite;
}
.checkmark {
  width: 80px;
  height: 80px;
  margin: 150px auto 30px auto;
  
  @media (min-width: 768px) {
    margin: 70px auto 30px auto;
  }
  @media (max-width: 350px) {
    margin: 30px auto;
  }
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2.3s ease-in-out;
}

p {
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: $fontWhite;
  animation: text 1.4s linear 1.4s;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
