.writePassword {
  display: flex;
  align-items: center;
  height: calc(100vh - 300px);
  width: 100%;
}
.writePassword-inner {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.writePassword-title {
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $fontWhite;
  margin-bottom: 35px;
  @media (max-width: 768px) {
    padding-left: 15px;
  }
  @media (min-width: 769px) {
    padding-left: 0;
    margin-top: 30px;
    // height: inherit;
  }
}
.writePassword-input-wrap {
  margin-bottom: 50px;
  input {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    font-family: $fontFamily;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    color: $fontWhite;
    text-align: center;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &::placeholder {
      color: #fff;
    }
  }
}
.writePassword-timer {
  display: flex;
  div {
    display: flex;
    align-items: center;
  }
  img {
    display: inline-block;
    width: auto;
  }
  button {
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $fontWhite;
    opacity: 0.9;
    background-color: transparent;
  }
}
.timer-load {
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $fontWhite;
  margin: 0 14px 0 10px;
}
